.button {
  background: none;
  border: none;
  padding: 10px;
  color: #ffc977;

  cursor: pointer;

  border-radius: 3px;
  border: 1px solid #ffd37e;

  background: rgba(255, 212, 128, 0.2);
  color: #e2cba6;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.disabledButton {
  border-color: #cdcdcd;
  background: rgba(218, 250, 255, 0.2);
}
