.modal {
  width: 100%;
  margin: 50px;
  max-width: 500px;
}

.root {
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  text-align: center;
  display: block;
}

.maxLevelNote {
  color: #d0d0d0;
  font-size: 34px;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.button {
  color: #d0d0d0;

}
.button svg {
  max-width: 85px;
  max-height: 85px;
}

.addButton {
  color: #ffc977;
}

.levelSection,
.buttons {
  display: flex;
  align-items: center;
}

.levelSection {
  justify-content: space-between;
  margin: 20px 20px;
}
.buttons {
  justify-content: center;
  gap: 20px;
  margin: 30px 30px 10px;
}

.buttons > * {
  text-align: center;
  width: 100%;
}

.line {
  position: relative;
  overflow: hidden;

  background: #ffc977;
  flex-grow: 1;
  height: 7px;
  border-radius: 5px;
}

.subLine {
  background: #d0d0d0;
  position: absolute;
  height: 100%;
}

.contentWrapper {
  position: relative;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.level {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.levelValue {
  position: absolute;
  font-size: 50px;
}